DEBUG=True
SECRET_KEY=1=v^m*hx!cx!s+%g&ir87(c-bpb2-j39_2*#t%l=fphx+fqv4n
ALLOWED_HOSTS=127.0.0.1, .localhost
MYSQL_CONFIG=/etc/mysql/my.cnf
#DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/NAME
#DEFAULT_FROM_EMAIL=
#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_HOST=
#EMAIL_PORT=
#EMAIL_USE_TLS=
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=