asgiref==3.2.7
Django==3.0.7
django-environ==0.4.5
django-extensions==2.2.9
django-polls==0.1
django-widget-tweaks==1.4.8
mysqlclient==1.4.6
python-decouple==3.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
