<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if from.errors %}
        <p>There's something worng with what you entered!</p>
    {% endif %}
    {% if next %}
        <p>Hey, you can't access that page</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>
</html>